.clients {
  padding: 0 calc(50% - 485px);
  padding-top: 10px;
  padding-bottom: 28px;

  background-color: @main-grey-color;
}

.clients-list {
  position: relative;
  right: 16px;

  margin-top: 18px;
  padding-left: 1px;

  list-style: none;

  .flex-mixin();
}
.clients-list__item {
  position: relative;

  width: 170px;
  height: 94px;

  background-color: @light-grey-bg-color;

  & a {
    display: block;
    width: 170px;
    height: 94px;
        &:focus {
      outline: none;
      box-shadow: 0 0 0 4px @main-grey-color, 0 0 0 5px @white-color;
    }
  }
}

.clients-list__envato {
  background: url(../img/envato-logo.svg) no-repeat center;
}

.clients-list__wordpress {
  background: url(../img/wordpress-logo.svg) no-repeat center;
}

.clients-list__dribbble {
  background: url(../img/dribbble-logo.svg) no-repeat center;
}
