.clients {
  padding: 0 calc(50% - 485px);
  padding-top: 10px;
  padding-bottom: 13px;

  background-color: @main-grey-color;
}

.clients-list {
  position: relative;
  right: 16px;

  margin-top: 18px;
  padding-left: 1px;

  list-style: none;

  .flex-mixin();
}
.clients-list__item {
  position: relative;

  width: 170px;
  height: 94px;

  background-color: @light-grey-bg-color;
}

.clients-list__envato {
  position: relative;
  top: 35px;
  left: 10px;

  display: block;
  width: 150px;
  height: 28px;

  background-image: url(../img/white-black-icon.png);
  background-position: -4px -0;
}

.clients-list__wordpress {
  position: relative;
  top: 31px;
  left: 10px;

  display: block;
  width: 150px;
  height: 33px;

  background-image: url(../img/white-black-icon.png);
  background-position: -4px -32px;
}

.clients-list__dribble {
  position: relative;
  top: 31px;
  left: 16px;

  display: block;
  width: 141px;
  height: 36px;

  background-image: url(../img/white-black-icon.png);
  background-position: -4px -69px;
}
