.contacts {
  padding: 0 calc(50% - 600px);

  background-color: @light-grey-color;

  .flex-mixin(@flex-direction: column);
}

.contacts__adress,
.contacts__phone-and-email {
  font-size: 16px;
  line-height: 30px;
  font-family: @font;
  color: @author-text-color;
  font-style: normal;
}

.contacts__adress {
  margin-bottom: 0;
  margin-top: 16px;
}

.contacts__phone-and-email {
  margin-top: 0;
}

.contacts__title {
  width: 370px;
  margin-top: 0;
  margin-bottom: 17px;
  margin-left: -2px;
  padding-top: 97px;

  color: @black-color;
  &:after {
    border-bottom: 10px solid @black-color;
  }
}

.contact-form {
  margin-bottom: 144px;
  padding: 0 calc(50% - 600px);

  color: @darken-grey-color;

  .flex-mixin(@justify-content: left);

  & label {
    position: relative;
  }

  &__label-email:before {
    content: "";
    position: absolute;
    top: 17px;
    right: 364px;
    z-index: 10;

    display: block;
    width: 17px;
    height: 13px;

    background-image: url(../img/white-black-icon.png);
    background-position: -126px -109px;
  }

  &__label-name:before {
    content: "";
    position: absolute;
    top: 17px;
    right: 338px;
    z-index: 10;

    display: block;
    width: 14px;
    height: 14px;

    background-image: url(../img/white-black-icon.png);
    background-position: -126px -126px;
  }

  &__label-message:before {
    content: "";
    position: absolute;
    top: 47px;
    right: 764px;
    z-index: 10;

    display: block;
    width: 18px;
    height: 15px;

    background-image: url(../img/white-black-icon.png);
    background-position: -104px -109px;
  }
}

.contact-form__input {
  position: relative;

  width: 370px;
  height: 50px;
  padding-left: 33px;

  border: 2px solid @darken-grey-color;

  &:first-of-type {
    margin-right: 31px;
    padding-left: 37px;
  }

  &--message {
    width: 770px;
    height: 78px;
    margin-top: 30px;
    padding-top: 4px;
  }

  &::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 40px;
    font-family: @font-bold;
    color: @black-color;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    font-size: 16px;
    line-height: 40px;
    font-family: @font-bold;
    vertical-align: middle;
    color: @black-color;
    text-transform: uppercase;
  }

  &:-moz-placeholder {
    font-size: 16px;
    line-height: 40px;
    font-family: @font-bold;
    color: @black-color;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    font-size: 16px;
    line-height: 40px;
    font-family: @font-bold;
    color: @black-color;
    text-transform: uppercase;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  &:focus {
    border: 2px solid #ff3c00;
    outline: none;
  }
  &:focus + label {
    display: none;
  }
}

.contact-form__btn {
  position: relative;

  align-self: flex-end;
  width: 370px;
  height: 80px;
  padding-left: 43px;
  padding-top: 5px;

  font-size: 16px;
  line-height: 41px;
  font-family: @font;
  text-align: center;
  color: @main-red-color;

  background-color: @white-color;
  border: none;
  border-radius: 10px;

  &:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 140px;
    z-index: 10;

    display: block;
    width: 31px;
    height: 32px;

    background-image: url(../img/red-icon-sprite.png);
    background-position: -4px -138px;
  }
}

.social-list {
  width: 234px;
  margin-top: 5px;
  margin-bottom: 42px;
  padding-left: 1px;

  list-style: none;

  .flex-mixin();
}

.social-list__twitter {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/red-twitter.svg) no-repeat;
}
.social-list__facebook {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/red-facebook.svg) no-repeat;
}
.social-list__google-plus {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/google-plus.svg) no-repeat;
}
.social-list__pintrest {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/pinterest.svg) no-repeat;
}
.social-list__instagram {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/red-instagram.svg) no-repeat;
}
.social-list__youtube {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/youtube.svg) no-repeat;
}
.social-list__skype {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/skype.svg) no-repeat;
}
.social-list__dribble {
  display: block;
  width: 24px;
  height: 24px;

  background: url(../img/dribbble.svg) no-repeat;
}
