.feedback {
  margin-top: -51px;
  padding: 0 calc(50% - 600px);

  background-color: @main-grey-color;
}
.feedback-post {
  align-items: center;
  width: 775px;
  margin-top: 50px;
  margin-left: 198px;

  font-weight: lighter;
  font-size: 36px;
  line-height: 41px;
  font-family: @font;
  text-align: center;
  color: @white-color;

  .flex-mixin(@flex-direction: column);
}

.feedback-post__text {
  width: 775px;
  margin-bottom: 16px;
  padding-top: 14px;
}

.feedback-post__user-name {
  margin-top: -4px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 41px;
  text-transform: uppercase;
}

.feedback__slider {
  position: relative;
  right: 31px;
  bottom: 23px;

  padding-bottom: 9px;

  list-style: none;

  .flex-mixin(@justify-content: center);
}

.feedback__one-button,
.feedback__two-button,
.feedback__three-button {
  display: block;
  width: 11px;
  height: 10px;
  margin-right: 10px;
  padding: 0;

  background-color: transparent;
  border: 2px solid @white-color;
  border-radius: 50%;
  &:hover {
    background-color: @white-color;
    cursor: pointer;
  }
}

.feedback__button-active {
  background-color: @white-color;
}
