.feedback {
	background-color: @main-grey-color;
}
.feedback-post {
	font-family: @font;
	font-size: 36px;
	line-height: 41px;
	font-weight: lighter;
	color: @main-text-color;
	.flex-mixin();
}

.feedback-post__user-name {
	font-size: 16px;
	line-height: 41px;
	font-style: normal;
}

.feedback__slider {
	list-style: none;
	.flex-mixin(@justify-content:center);
}