body {
  display: block;
  font-family: @font;
  // min-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main-title {
  width: 370px;
  font-size: 72px;
  line-height: 60px;
  font-family: @font-bold;
  color: @white-color;
  text-transform: uppercase;

  &:after {
    content: "";

    display: block;
    margin-top: 2px;
    margin-left: 3px;

    border-bottom: 10px solid @white-color;
  }
}

@media (max-width: @mobile-width) {
  .main-title {
    width: 270px;
    font-size: 52px;
    line-height: 50px;
  }
}

