.information-video {
  position: relative;

  align-items: center;
  height: 820px;
  padding: 0 calc(50% - 600px);

  background-color: @main-grey-color;

  .flex-mixin(@justify-content: flex-start);

  &__text {
    position: relative;
    bottom: 42px;

    font-size: 60px;
    line-height: 72px;
    font-family: @font-thin;
    color: @white-color;

    &:after {
      content: "Click to play video";
      position: absolute;
      top: 100%;
      left: 2px;

      font-size: 16px;
      font-family: @font;
      line-height: 19px;
      color: @main-red-color;
    }
  }


  &__button {
    margin-right: 36px;
        margin-top: -79px;
  }
}

