.page-header {
color: @main-text-color;
font-family: @font;
background-color: @main-black-color;
.flex-mixin();
}

.site-list {
	list-style: none;
    .flex-mixin();
}

.site-list_item a {
	text-decoration: none;
	color: @main-text-color;
    font-family: @font;
}

.user-email {
	border: 2px solid @main-red-color;
	color: @main-red-color;
   border-radius: 10px;
  width: 86px;
  height: 31px;
}
