.portfolio {
	background-color: @light-grey-color;
	padding: 0 calc(50% - 585px);
}
.portfolio__title {
	color: @main-black-color;
	width: 370px;
	padding-top: 93px;
	&:after {
    border-bottom: 10px solid @main-black-color;
  }
}
.portfolio-list {
	list-style: none;
	.flex-mixin();
	width: 291px;
    margin-top: -30px;
    padding-left: 0;
    margin-bottom: 62px;
}

.portfolio-list__button {
 border: 2px solid @main-red-color;
  border-radius: 10px;
    width: 91px;
    height: 33px;
}

.show-button {
background-image: url(../img/red-icon-sprite.png); 
background-position: -4px -174px;
width: 30px;
height: 31px;
border: none;
background-color: transparent;
}

.portfolio__button {
margin-bottom: 140px;
}
.project-list {
	.flex-mixin();
}
.project-list__item {
	.flex-mixin(@flex-direction:column);
	width: 370px;
	height: 370px;
	background-color: @light-grey-bg-color;
	margin-bottom: 30px;
}
.project-list__info {
	background-color: @main-text-color;
	.flex-mixin(@flex-direction:column);
	align-items: center;
}
.project-list__title {
	font-family: @font;
	color:@main-red-color;
	font-size: 18px;
	font-weight: bold;
	line-height: 60px;
	text-transform: uppercase;
	margin-bottom: -26px;
}
.project-list__author {
  font-family: @font;	
  font-size: 14px;
  line-height: 60px;
  color: @author-text-color;
}

.non-visible {
  display: none;
}

