.services {
  position: relative;

  min-height: 350px;
  margin-bottom: 150px;
  padding: 0 calc(50% - 600px);
  padding-bottom: 10px;

  font-family: @font;
  color: @white-color;

  background-color: @main-red-color;

  .flex-mixin(@flex-wrap: nowrap);
}


.services__title {
  margin-top: 44px;
  margin-left: -3px;
}

.services-list {
  width: 770px;

  list-style: none;

  .flex-mixin();

  &__title {
    margin-top: 33px;
    margin-bottom: 0;
    margin-left: 21px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    font-family: @font;
    text-transform: uppercase;
  }

  &__description {
    width: 250px;
    margin-top: 7px;
    margin-left: 22px;

    font-weight: lighter;
    font-size: 14px;
    line-height: 22px;
    font-family: @font;
  }
}

.services-list__item {
  position: relative;

  width: 247px;
  margin-right: 44px;

  &:before {
    content: "";
    position: absolute;

    display: block;
    width: 96px;
    height: 96px;
  }
  &:first-child:before {
    top: 35px;
    right: 257px;

    background-image: url(../img/white-black-icon.png);
    background-position: -4px -109px;
  }
  &:nth-child(2):before {
    top: 35px;
    right: 257px;

    background-image: url(../img/white-black-icon.png);
    background-position: -4px -209px;
  }
  &:nth-child(3):before {
    top: 36px;
    right: 257px;

    background-image: url(../img/white-black-icon.png);
    background-position: -4px -409px;
  }
  &:last-child:before {
    top: 36px;
    right: 257px;

    background-image: url(../img/white-black-icon.png);
    background-position: -4px -309px;
  }
}

.icon-list {
  position: absolute;
  top: 402px;
  left: 77px;

  padding: 0 calc(50% - 600px);

  list-style: none;

  .flex-mixin();
}

.icon-list__item {
  align-self: center;
  width: 40px;
  margin-right: 158px;
  &:last-child {
    margin-right: 0;
  }
}

.icon-list__link-bulb {
  display: block;
  width: 39px;
  height: 32px;

  background-image: url(../img/red-icon-sprite.png);
  background-position: -4px -247px;
}
.icon-list__link-globe {
  display: block;
  width: 39px;
  height: 31px;

  background-image: url(../img/red-icon-sprite.png);
  background-position: -4px -103px;
}
.icon-list__link-camera {
  display: block;
  width: 39px;
  height: 32px;

  background-image: url(../img/red-icon-sprite.png);
  background-position: -4px -30px;
}
.icon-list__link-spanner {
  display: block;
  width: 39px;
  height: 33px;

  background-image: url(../img/red-icon-sprite.png);
  background-position: -4px -66px;
}
.icon-list__link-mic {
  display: block;
  width: 39px;
  height: 34px;

  background-image: url(../img/red-icon-sprite.png);
  background-position: -4px -209px;
}
.icon-list__link-banknote {
  display: block;
  width: 39px;
  height: 26px;

  background-image: url(../img/red-icon-sprite.png);
  background-position: -4px 0;
}
