.services {
	background-color: @main-red-color;
	color: @main-text-color;
	display: flex;
	@font-family: @font;
	width: 1600px;
	height: 350px;
}
.services-list {
	list-style: none;
   .flex-mixin();
}

.services-list__item {
	width: 380px;
}