.skills {
	.flex-mixin();
	font-family: @font; 
}
.skills__title {
  font-size: 18px;
  font-family: @font;
  color: @main-red-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
}
.skills__description {
	font-weight: lighter;
	font-size: 14px;
	line-height: 22px;
	width: 200px;
}
.skills-list__btn {
  border: 1px solid @light-grey-color;
  border-radius: 10px;
  width: 368px;
  height: 48px;
  background-color: @main-text-color;
  font-size: 14px;
  font-family: @font;
  font-weight: bold;
  line-height: 22px;
  color:@author-text-color;
}

.skills-list__text {
  font-size: 14px;
  font-family: @font;
  font-weight: lighter;
  line-height: 22px;
}