.subscribe {
  padding: 0 calc(50% - 585px);
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;

  background-color: @main-red-color;
}

.subscribe-form-email {
  width: 360px;
  height: 72px;
  margin-top: 1px;
  margin-right: 121px;
  margin-left: -18px;
  font-size: 36px;
  color: @white-color;
  line-height: 41px;
font-family: @font-thin;
  background-color: transparent;
  border: none;

  &::-webkit-input-placeholder {
    font-size: 36px;
    line-height: 41px;
    font-family: @font-thin;
    color: @white-color;
  }

  &::-moz-placeholder {
    font-size: 36px;
    line-height: 41px;
    font-family: @font-thin;
    color: @white-color;
  }

  &:-moz-placeholder {
    font-size: 36px;
    line-height: 41px;
    font-family: @font-thin;
    color: @white-color;
  }

  &:-ms-input-placeholder {
    font-size: 36px;
    line-height: 41px;
    font-family: @font-thin;
    color: @white-color;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px @white-color;
  }
}

.subscribe-form__btn {
  width: 90px;
  height: 35px;

  font-size: 16px;
  line-height: 19px;
  font-family: @font;
  vertical-align: super;
  text-align: center;
  color: @main-red-color;

  background-color: @white-color;
  border: none;
  border-radius: 10px;
  cursor: pointer;
    &:focus {
    outline: none;
    box-shadow: 0 0 0 5px @main-red-color, 0 0 0 6px @white-color;
  }
}
