.team-list {
	list-style: none;
	.flex-mixin();
}
.team-list__member-name {
  font-size: 18px;
  font-family: @font;
  color: @main-red-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
}

.team-list__position {
  font-size: 14px;
  font-family: @font;
  color: @author-text-color;
  line-height: 60px;
}

.team-list__description {
  font-size: 14px;
  font-family: @font;
  font-weight: lighter;
  color: @color;
  line-height: 22px;
}