.team {
  padding: 0 calc(50% - 600px);
}

.team-list {
  position: relative;
  margin-bottom: 17px;

  padding: 0 calc(50% - 600px);

  list-style: none;

  .flex-mixin(@justify-content: flex-start);
}
.team-list__item {
  position: relative;

  width: 360px;
  margin-right: 40px;

  .flex-mixin(@flex-direction: column);

  &:hover .team-list__contacts {
    position: absolute;
    top: 62px;
    left: 140px;
    z-index: 10;

    width: 170px;

    list-style: none;

    .flex-mixin();
  }
}

.team-list__member-photo {
  position: relative;
  right: 1px;

  width: 170px;
  height: 170px;
  margin-bottom: 31px;

  background-color: @light-grey-bg-color;
  border-radius: 50%;

  & img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;

  }
}

.team-list__member-name {
  align-self: flex-end;
  width: 263px;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 18px;
  font-family: @font-bold;
  color: @main-red-color;
  text-transform: uppercase;
}

.team__title {
  width: 370px;
  margin-bottom: 80px;
  margin-left: -2px;
  padding-top: 36px;

  color: @black-color;
  &:after {
    border-bottom: 10px solid @black-color;
  }
}

.team-list__position {
  align-self: flex-end;
  width: 263px;

  font-size: 14px;
  line-height: 14px;
  font-family: @font;
  color: @author-text-color;
}

.team-list__description {
  align-self: flex-end;
  width: 270px;
  margin-top: 21px;
  margin-bottom: 30px;
  margin-left: 100px;

  font-weight: lighter;
  font-size: 14px;
  line-height: 22px;
  font-family: @font;
  color: @darken-grey-color;
}

.team__button {
  margin-bottom: 125px;

  cursor: pointer;
}

.team-list__contacts {
  display: none;
}

.team-list__twitter-contact {
  display: block;
  width: 50px;
  height: 50px;

  background: url(../img/twitter.svg) no-repeat;
}

.team-list__facebook-contact {
  display: block;
  width: 50px;
  height: 50px;

  background: url(../img/facebook.svg) no-repeat;
}

.team-list__instagram-contact {
  display: block;
  width: 50px;
  height: 50px;

  background: url(../img/instagram.svg) no-repeat;
}
